/* **************** When Display Size Less Then Menu Design **************** */
@media screen and (max-width: 992px){
    .menu-btn{
        display: block;
        margin-left: auto;
    }
    .menu-btn_burger{
        margin-top: 7px;
    }    
    .mobileMenu{
        position: fixed;
        background-color: #0082e6;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        left: -100%;
        transition: all ease .5s;
    }
    #check:checked ~ .mobileMenu{
        left: 0;
    }
    .overlay{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: none;
    }
    .nav-item{
        margin: 5px;
    }
}

/* Slider section */
@media (min-width: 320px) and (max-width: 572px){
    .carousel-caption{
        width: 200px;
        top: 80px;
    }
    .carousel-caption h2{
        width: 200px;
        font-size: 15px;   
    }
    .carousel-caption .btn{
        width: 100px;
        font-size: 10px;  
    }
    .carousel-item img{
        height: 240px;
    }
}

/* about section */
@media (min-width: 320px){
    .card-this{
        margin-left: 5%;
    }
}
@media (min-width: 375px){  
    .card-this{
        margin-left: 10%;
    }
}
@media (min-width: 425px){      
    .card-this{
        margin-left: 15%;
    }
}
@media (min-width: 768px){
    .card-size{
        padding-left: 10%;
        padding-right: 10%;
    }
}
@media (min-width: 1024px){
    .card-size{
        padding-left: 20%;
        padding-right: 20%;
    }
    .card-img-top{
        height: 64%;
    }
}
